In [29]:

import pandas as pd
df = pd.read_csv('/Users/rajanandinialla/Downloads/Crime_Data_from_2020_to_Present.csv')

In [6]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066
982634,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
982635,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
982636,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
982637,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [7]:
df.shape

(982638, 28)

In [8]:
df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174591 entries, 0 to 174590
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           174591 non-null  int64
 1   Date Rptd       174591 non-null  object
 2   DATE OCC        174591 non-null  object
 3   TIME OCC        174591 non-null  int64
 4   AREA            174591 non-null  int64
 5   AREA NAME       174591 non-null  object
 6   Rpt Dist No     174591 non-null  int64
 7   Part 1-2        174591 non-null  int64
 8   Crm Cd          174591 non-null  int64
 9   Crm Cd Desc     174591 non-null  object
 10  Mocodes         151177 non-null  object
 11  Vict_Age        174591 non-null  int64
 12  Vict Sex        152288 non-null  object
 13  Vict Descent    152285 non-null  object
 14  Premis Cd       174589 non-null  float64
 15  Premis Desc     174529 non-null  object
 16  Weapon Used Cd  63673 non-null   float64
 17  Weapon Desc     63673 non-null   object
 18  Status          174591 non-null  object
 19  Status Desc     174591 non-null  object
 20  Crm Cd 1        174589 non-null  float64
 21  Crm Cd 2        14259 non-null   float64
 22  Crm Cd 3        500 non-null     float64
 23  Crm Cd 4        16 non-null      float64
 24  LOCATION        174591 non-null  object
 25  Cross Street    30566 non-null   object
 26  LAT             174591 non-null  float64
 27  LON             174591 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 37.3+ MB

In [23]:
max_age = df['Vict_Age'].max()

In [25]:
max_age

120.0

In [26]:
min_age = df['Vict_Age'].min()

In [27]:
min_age

-4.0

In [28]:
min_age = df['Vict_Age'].min()
max_age = df['Vict_Age'].max()
median_age = df['Vict_Age'].median()


print(f"Minimum age of victims: {min_age}")
print(f"Maximum age of victims: {max_age}")
print(f"Median age of victims: {median_age}")

Minimum age of victims: -4.0
Maximum age of victims: 120.0
Median age of victims: 31.0

In [31]:
print(df['DATE OCC'].head())

0     3/1/20 12:00 AM
1     2/8/20 12:00 AM
2    11/4/20 12:00 AM
3    3/10/20 12:00 AM
4    8/17/20 12:00 AM
Name: DATE OCC, dtype: object

In [32]:
print(df['DATE OCC'].dtype)

object

In [38]:
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

In [39]:
print(df['DATE OCC'].dtype)

datetime64[ns]

In [40]:
df['DayOfWeek'] = df['DATE OCC'].dt.day_name()

In [41]:
print(df[['DATE OCC', 'DayOfWeek']].head())

    DATE OCC  DayOfWeek
0 2020-03-01     Sunday
1 2020-02-08   Saturday
2 2020-11-04  Wednesday
3 2020-03-10    Tuesday
4 2020-08-17     Monday

In [42]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Date,DayOfWeek
0,190326475,3/1/20 12:00 AM,2020-03-01,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506,2020-03-01,Sunday
1,200106753,2/9/20 12:00 AM,2020-02-08,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628,2020-02-08,Saturday
2,200320258,11/11/20 12:00 AM,2020-11-04,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002,2020-11-04,Wednesday
3,200907217,5/10/23 12:00 AM,2020-03-10,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387,2020-03-10,Tuesday
4,220614831,8/18/22 12:00 AM,2020-08-17,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277,2020-08-17,Monday

In [45]:
crime_counts = df['DayOfWeek'].value_counts()

In [50]:
crime_counts

Friday       26160
Wednesday    25378
Saturday     25315
Thursday     24726
Monday       24712
Tuesday      24158
Sunday       24142
Name: DayOfWeek, dtype: int64

In [53]:
most_crimes_day = crime_counts.idxmax()

In [54]:
most_crimes_day

'Friday'

In [55]:
most_crimes_count = crime_counts.max()

In [56]:
most_crimes_count

26160

In [59]:
theft_df = df[df['Crm Cd Desc'] == 'THEFT OF IDENTITY']
theft_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Date,DayOfWeek
4,220614831,8/18/22 12:00 AM,2020-08-17,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277,2020-08-17,Monday
5,231808869,4/4/23 12:00 AM,2020-12-01,2300,18,Southeast,1826,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,9900 COMPTON AV,NaN,33.9467,-118.2463,2020-12-01,Tuesday
6,230110144,4/4/23 12:00 AM,2020-07-03,900,1,Central,182,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,1100 S GRAND AV,NaN,34.0415,-118.2620,2020-07-03,Friday
7,220314085,7/22/22 12:00 AM,2020-05-12,1110,3,Southwest,303,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,2500 S SYCAMORE AV,NaN,34.0335,-118.3537,2020-05-12,Tuesday
8,231309864,4/28/23 12:00 AM,2020-12-09,1400,13,Newton,1375,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,1300 E 57TH ST,NaN,33.9911,-118.2521,2020-12-09,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174357,200907297,3/11/20 12:00 AM,2020-03-11,700,9,Van Nuys,998,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,4200 LONGRIDGE AV,NaN,34.1464,-118.4213,2020-03-11,Wednesday
174367,201414883,7/31/20 12:00 AM,2020-06-17,1405,14,Pacific,1443,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,700 CRESTMOORE PL,NaN,33.9894,-118.4561,2020-06-17,Wednesday
174393,201614433,9/30/20 12:00 AM,2020-08-21,205,16,Foothill,1676,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,8700 GLENOAKS BL,NaN,34.2277,-118.3643,2020-08-21,Friday
174543,200915788,10/11/20 12:00 AM,2020-10-10,1820,9,Van Nuys,914,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,6900 N SEPULVEDA BL,NaN,34.1957,-118.4662,2020-10-10,Saturday
174572,201907191,3/5/20 12:00 AM,2020-02-15,1,19,Mission,1913,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,14700 LAKESIDE ST,NaN,34.3076,-118.4529,2020-02-15,Saturday

In [60]:
theft_df.to_csv('/Users/rajanandinialla/Desktop/central_area_thefts.csv', index=False)